*{
    margin: 0;
    left:0;
    box-sizing: border-box;
}

.add{
    color:black;
    background: seagreen;
    border: none;
    height: 40px;
    width: 300px;
    border-radius: 5px;
}
.close{
    color: black;
    background: red;
    border-radius: 20%;
}